<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_manager">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Report</title>
</head>
<body onload="load_report()">
<div layout:fragment="content" >
    <div id="container" style="min-width: 310px; max-width: 800px; height: 600px; margin: 0 auto"></div>
</div>
<div layout:fragment="js">
    <script th:src="@{/js/manager/report.js}"></script>
</div>
</body>
</html>